<!-- Descricao hotel content-->

<div class="card">
  <menu-descricao class="itens-menu" (messageEvent)="receiveMessage($event)"> </menu-descricao>
</div>

<div *ngIf="selectedValue == undefined; else elseBlock">
  <p class="text-center">Escolha uma localização</p>
</div>

<ng-template #elseBlock>
  <div *ngIf="trips.length != 0 ; else msgBlock">
    <ul>
      <div class="row">
        <ul *ngFor="let trip of trips; let i = index">
          <a (click)="openVerticallyCentered(content)">

            <!-- MODAL TEMPLATE --------->
            <ng-template #content let-modal>
              <div class="modal-header">
                <h4 class="modal-title">{{ trip.Nome }}</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>{{trip.Descricao}}&hellip;</p>
                <p>{{trip.Classificacao}}</p>
                <p>{{trip.Cidade.Nome}}</p>
                <p>{{trip.Cidade.Pais}}</p>
                <h3> </h3>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
              </div>
            </ng-template>
            <!-- -------------------------------------------    -->

            <mat-card class="example-card">
              <div class="row">
                <div class="col">
                  <img class="card-image" src="http://lorempixel.com/640/480/city/?v={{trip.Id}}"
                    alt="hotel photo">
                </div>
                <div class="col">
                  <mat-card-content>
                    <div class="row"></div>
                    <p>{{trip.Classificacao}}</p>                  
                    <div class="row">
                        <div>{{trip.Nome}}</div>
                        <div>{{trip.Localizacao}}</div>
                    </div>                    
                    <div class="row">
                        <p>{{trip.Preco}}</p>
                    </div>
                    
                  </mat-card-content>
                </div>
              </div>
            </mat-card>
          </a>
        </ul>
      </div>
    </ul>
  </div>
  <ng-template #msgBlock>
    <p class="text-center">Nenhum hotel cadastro para essa localização</p>
  </ng-template>
</ng-template>