<div class="header">  
        <div class = "container">
           <div class = "row">
             <div class = "col col-lg-2">
                <app-dropdown-menu class = "edit-icon"> </app-dropdown-menu>
             </div>
            </div>
                <h1 class="title font-weight-light text-white text-center">my trips</h1>        
        </div>                 

    </div>

  <!-- Page Content -->
  <div class="page-content">    
      <router-outlet></router-outlet>
  </div>  

  <!-- Footer -->
  <footer class="fixed-bottom" id="footer">

  </footer>