<div class="card">
  <h1 class="title-page"> Cadastrar Cidade </h1>
</div>

<div class="container">
  <div class="form-container">
    <form #myform="ngForm" (ngSubmit)="onSubmit(myform)" class="form-group">
      <div class="row justify-content-center">
        <input name="Nome" type="text" class="form-input form-cadastro form-control" id="exampleInputEmail1"
          placeholder="Cidade" ngModel required>

        <input name="Pais" type="text" class="form-input form-cadastro form-control" id="exampleInputEmail1"
          placeholder="País" ngModel required>

        <input type="image" class="icon" name="add" [src]="AddIcon">
      </div>
    </form>
  </div>

  <div *ngIf="cidades == null; else elseBlock">
    <p class="text-center">Nenhuma cidade cadastrada</p>
  </div>
  <ng-template #elseBlock>
    <table mdbTable>
      <thead class="grey lighten-1 black-text">
        <tr>
          <th *ngFor="let head of headElements" scope="col">{{head}} </th>
        </tr>
      </thead>
      <tbody>
        <tr mdbTableCol *ngFor="let cidade of cidades">
          <td scope="row">{{cidade.Nome}}</td>
          <td>{{cidade.Pais}}</td>
          <td>
            <a hfef="#" (click)="onEdit(myform, cidade.Nome, cidade.Pais)"><img [src]=EditDataIcon alt="Editar Cidade"
                height="30" width="30"></a>
            <a hfef="#" (click)="onRemove(cidade.Id)"><img [src]=RemoveIcon alt="Remover Cidade" height="30"
                width="30"></a>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-template>
</div>