<div class="container-fluid">   
        <div class="row">
            <div class="col-sm col-xs-12"> 
                    <img class="icon img-responsive" [src]= PlaceHolderIcon >
                      Lavras,Brasil
            </div>
            <div class="col-sm  col-xs-12">
                    <img class="icon img-responsive" [src]= CalendarIcon >
                Mar, 7, 2017
            </div>
            <div class="col-sm col-xs-12">
                    <img class="icon img-responsive" [src]= ManUserIcon >
                1 Guest
            </div>
            <div class="col-sm col-xs-12">
                    <img class="icon img-responsive" [src]= CrownIcon >
                First Class
            </div>
            <div class="col-sm col-xs-12">
                    <img class="icon img-responsive" [src]= CreditCardIcon >
                800$
            </div>
        </div> 
</div>

