<div class="card">
  <h1 class="title-page"> Cadastrar Hotel</h1>
</div>

<div *ngIf="formConcluido && selectedValue == undefined" class="cadastro-concluido-card">
  <h2 class="title-pop-up">Cadastro realizado com sucesso!</h2>
</div>

<div class="container">
  <div class="form-container">
    <form>
      <div class="row justify-content-center">
        <mat-form-field class=".mat-form-field">
          <mat-label>Cadastrar em</mat-label>
          <mat-select [(value)]=selectedValue>
            <mat-option *ngFor="let cidade of cidades" [value]="cidade.Id">
              {{cidade.Nome}}, {{cidade.Pais}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <input type="image" class="icon" name="add" [src]="PlaceHolderIcon">
      </div>
    </form>
  </div>



  <div *ngIf="selectedValue!= null" class="form-container">
    <form [formGroup]="myform" (ngSubmit)="onConcluir()" class="form-group">
      <div class="row justify-content-center">
        <input formControlName="Nome" type="text" class="hotel-form form-input form-cadastro form-control" id="nomeHotel"
          placeholder="Nome Hotel">
      </div>
      <div class="row justify-content-center">
        <input formControlName="Localizacao" type="text" class="hotel-form form-input form-cadastro form-control" id="localizacao"
          placeholder="Endereço">
      </div>
      <div class="row justify-content-center ">
        <input formControlName="Preco" type="number" class="preco-input form-input form-cadastro form-control" id="preco"
          placeholder="Preço diária">
        <fieldset>
          <label for="classificacao" class=" form-label classificacao">Classificação: </label>
          <ngb-rating [(rate)]="currentRate" formControlName="Classificacao">
            <ng-template let-fill="fill" let-index="index">
              <span class="star" [class.filled]="fill === 100">&#9733;</span>
            </ng-template>
          </ngb-rating>
        </fieldset>
      </div>
      <div class="row-lg-4">
        <fieldset>
          <label for="descricao" class = "form-label"> Descrição</label>
          <textarea id="descricao" formControlName="Descricao"></textarea><br><br>
        </fieldset>
      </div>
      <div class="row">
        <div class="col">
          <button class="button">Concluir Cadastro</button>
        </div>
        <div class="col">
          <a><img class="deletar-icone" [src]=GarbageIcon (click)="limparForm()" /> Limpar </a>
        </div>
      </div>
    </form>
  </div>

</div>