<a [matMenuTriggerFor]="menu" hfef="#"> <img [src]= EditIcon ></a>
<mat-menu #menu="matMenu">
  <button routerLink=''  routerLinkActive="active"  mat-menu-item>Home</button>
  <button routerLink="/cadastro-cidade"  routerLinkActive="active"  mat-menu-item>Cadastrar Cidade</button>
  <button routerLink="/cadastro-hotel"  routerLinkActive="active" mat-menu-item>Cadastrar Hotel</button>
  <button routerLink="/visualizar-pagina"  routerLinkActive="active" mat-menu-item>Visualizar Página</button>
</mat-menu>
